.fashionweek{
    display: grid;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.events-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.events-col img{
    width: 100%;
    display: 10px;
}
.events-col p{
    padding: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.events-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}