*{
    margin: 0;
    padding: 0;
    font-size: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.footer{
    margin-top: 80px;
    width: 100%;
    padding: 40px 15%;
    background: black;
    color: #efefef;
    display: flex;
}
.footer div{
    text-align: center;
}
.footer div h3{
    font-weight: 150px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.footer-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}
.footer-2 {
    flex-grow: 2;

}
.footer-2 p{
    color: #efefef;
}
@media (min-width: 992px) {
    .footer-col{
      display: block;
}
}
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
      width: 100%;
}
}